.reviews {
  margin: 40px 80px;
  &__heading {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
  &__contents {
    padding: 20px;
    background-color: whitesmoke;
    &__blank {
      text-align: center;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}