.slick-content {
  img {
    height: 75vh;
    width: 100vw;
  }
}

.products {
  margin: 40px 80px;
  &__heading {
    font-size: 1.8rem;
    font-weight: bold;
  }
  &__contents {
    display: flex;
    flex-wrap: wrap;
    .card {
      width: 32%;
      height: 300px;
      border: 1px solid #ddd;
      margin: 5px;
      text-decoration: none;
      &__top {
        height: 65%;
        &--image {
          height: 100%;
          width: 100%;
        }
      }
      &__bottom {
        height: 35%;
        padding: 5px;
        &--name {
          text-align: center;
          color: black;
          height: 30%;
        }
        &--heading {
          text-align: center;
          color: gray;
          height: 30%;
        }
        .fivestar {
          margin: 0 auto;
          height: 30%;
        }
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .pagination {
    margin-top: 10px;
    margin-left: 5px;
  }
}