.product {
  margin: 40px 80px;
  &__name {
    font-size: 35px;
    font-weight: bold;
  }
  &__content {
    font-size: 25px;
    margin-top: 20px;
  }
  &__reserve {
    margin-top: 10px;
  }
  &__user-verify {
    margin-top: 10px;
    color: red;
  }
  &__other {
    margin-top: 50px;
    &__heading {
      font-size: 20px;
      font-weight: bold;
      color: gray;
      margin-left: 5px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .product-list {
    margin-left: 5px;
  }
}